# Xmake cache
Source/.xmake/
Source/build/


UnityTextureLoaderDemo/.vs/
UnityTextureLoaderDemo/Library/
UnityTextureLoaderDemo/Logs/
UnityTextureLoaderDemo/obj/
UnityTextureLoaderDemo/Temp/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb